name: Build

on: [push, pull_request]

jobs:
  build-typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install
      - run: npm run build

  build-kotlin:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
            java-version: '21' # Updated from '17' to match build.gradle.kts
            distribution: 'temurin'
        - name: Grant execute permission for gradlew
          run: chmod +x miinkt/gradlew # Updated path from 'MIIN' to 'miinkt'
        - name: Build with Gradle
          run: cd miinkt && ./gradlew build # Updated path from 'MIIN' to 'miinkt'
